<div class="form-group row" id="{{id_row}}">
    <label class="col-md-{{md1}} m-t-15">{{title}}</label>
    <div class="col-md-{{md2}}">
        <input id="{{id}}" name="{{name}}" class="form-control" style="width: 100%; height:36px;" value="{{value}}" placeholder="{{placeholder}}">
    </div>
</div>